<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Cagnotte  List</h2>
    <button class="btn btn-success" routerLink="add" style="margin-left: 10px"  routerLinkActive="active">Add cagnotte

    </button>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Montant</th>
          <th>nom de cagnotte </th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cagnotte of cagnottes | async">
          <td>{{cagnotte.amount}}</td>
          <td>{{cagnotte.nameCagnotte}}</td>

          <td><button (click)="deleteCagnotte(cagnotte.idCagnotte)" class="btn btn-danger">Delete</button>
              <button (click)="updateCagnotte(cagnotte.idCagnotte)" class="btn btn-info" style="margin-left: 10px">Update</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
