


<div class="container" style="margin-top: 150px;margin-bottom: 150px;">
    <div class="row">
      <div class="col">

        <button type="button" routerLink="claim" class="buttony" id="submitButton"><h3><i class="fa fa-tags" aria-hidden="true"></i>Claim</h3></button>
      </div>
      <div class="col">
        <button type="button" routerLink="cagnotte" class="buttony" id="submitButton"><h3><i class="fa fa-cube" aria-hidden="true"></i>Cagnotte</h3></button>
      </div>
      <div class="col">
        <button type="button" routerLink="/client/product" class="buttony" id="submitButton"><h3><i class="fa fa-tags" aria-hidden="true"></i>JobOffre</h3></button>

      </div>



</div>
</div>
<br />
