<p class="mt-4">To strengthen solidarity within your community, we are here to help you reach your goal from this donation button:</p>
<div class="container">
    <div class="row mt-3">
  <div class="col">
    <button class="button" routerLink="/client" id="submitButton" class="buttony">Return</button>
  </div>
  <div class="col">
    <button class="button" (click)="AddCagnotteShow()" id="submitButton" class="buttony">Add Donation</button>
  </div>

  </div>
 </div>

 <div class="container login-container" *ngIf="show">
    <h3>Add Cagnotte</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">nom de cagnotte </label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="cagnotte.nameCagnotte" name="name">
    </div>
    <div class="form-group">
      <label>montant </label>
      <input type="text" name="amount" class="form-control" placeholder="votre montant SVP *"
             ngModel [(ngModel)]="cagnotte.amount"
             >
    </div>


    <button type="submit" class="btn btn-success">Add Donation</button>

  </form>
</div>

<div [hidden]="!submitted">
  <h4>You added successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
    </div>

