body {
  background-color: #eee
}

.badge {
  font-size: 25px;
  font-weight: 200
}

  .badge i {
    font-size: 20px;
    font-weight: 200
  }

.about-rating {
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px
}

.total-ratings {
  font-size: 12px
}

.bg-custom {
  background-color: #b7dd29 !important
}

.text-custom {
  color: #b7dd29 !important
}

.progress {
  margin-top: 2px;
  border-radius: 0px;
  padding-left: 0px
}
block {
  width: 200px;
  height: 100px;
  padding: 10px;
  text-align: center;
  background-color: green;
  color: black;

}

/* Provide styling for when mouse will move over the counter*/
.block:hover {
  transform: scale(1.1);
  background-color: brown;
  transition-duration: 2s;
  color: red;
}

.fa {
  font-size: 50px;
}
