<!--ESPACE ADMIN-->
<div class="container-fluid mb-5"style="margin-top: 150px;">
  <div class="text-center mt-5">
    <h1 style="font-weight: bold;">WELCOME AT YOUR ADMIN SPACE </h1>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-4">
      <div class="box">
        <div class="our-services settings">
          <div class="icon">
          <a ></a>
          <img src="https://i.imgur.com/6NKPrhO.png"> </div>
          <a href="/administrator/user"><h1>Users</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services privacy">
          <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
          <a routerLink="Membership"><h1>Membership</h1></a>

        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="box">
        <div class="our-services speedup">
          <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
          <a  routerLink="condidat"><h1>Condidats</h1></a>

        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <div class="our-services backups">
          <div class="icon"> <img src="https://i.imgur.com/vdH9LKi.png"> </div>
          <a routerLink="publicity"> <h1>Publicity</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services ssl">
          <div class="icon"> <img src="https://i.imgur.com/v6OnUqu.png"> </div>
          <a routerLink="claims"><h1>Claims</h1></a>

        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/VzjZw9M.png"> </div>
          <a routerLink="joboffre"><h1>Joboffre</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div>
          <a routerLink="sales"><h1>Sales</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
          <a routerLink="/administrator/order"><h1>Order</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
          <a routerLink="statistic"><h1>Stats</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/vdH9LKi.png"> </div>
          <a href="administrator/category"><h1>Category & Under-Category</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/v6OnUqu.png"> </div>
          <a routerLink="cagnottes"><h1>Cagnotte</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/VzjZw9M.png"> </div>
          <a routerLink="stock"><h1>Stock</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
          <a routerLink="/administrator/event"><h1>Event</h1></a>

        </div>
      </div>
    </div>
  </div>
</div>


