<!--ESPACE ADMIN-->
<div class="container-fluid mb-5"style="margin-top: 150px;">
  <div class="text-center mt-5">
    <h1 style="font-weight: bold;">WELCOME AT YOUR ADMIN SPACE </h1>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-4">
      <div class="box">
        <div class="our-services settings">
          <div class="icon">
          <a ></a>
          <img src="https://i.imgur.com/6NKPrhO.png"> </div>
          <a href="/administrator/user"><h1>Users</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services privacy">
          <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
          <a routerLink="Membership"><h1>Membership</h1></a>

        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="box">
        <div class="our-services speedup">
          <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
          <a  routerLink="create-candidat'"><h1>creat Candidat</h1></a>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box">
        <div class="our-services speedup">
          <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
          <a  routerLink="candidats'"><h1>Candidats</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services speedup">
          <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
          <a  routerLink="administrator/candidat-details/:id'"><h1>Candidat by id </h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services speedup">
          <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
          <a  routerLink="update-candidat'"><h1>Update Candidats</h1></a>

        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <div class="our-services backups">
          <div class="icon"> <img src="https://i.imgur.com/vdH9LKi.png"> </div>
          <a routerLink="publicity"> <h1>Publicity</h1></a>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box">
          <div class="our-services backups">
            <div class="icon"> <img src="https://i.imgur.com/vdH9LKi.png"> </div>
            <a routerLink="forum"> <h1>Subject</h1></a>

          </div>
        </div>
      </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services ssl">
          <div class="icon"> <img src="https://i.imgur.com/v6OnUqu.png"> </div>
          <a routerLink="claims"><h1>Claims</h1></a>

        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/VzjZw9M.png"> </div>
          <a routerLink="create-offer"><h1>Create offre</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/VzjZw9M.png"> </div>
          <a routerLink="offers-list"><h1>offre List</h1></a>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/VzjZw9M.png"> </div>
          <a routerLink="offers-list"><h1>offre List</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/6NKPrhO.png"> </div>
          <a routerLink="sales"><h1>Sales</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/KMbnpFF.png"> </div>
          <a routerLink="/administrator/order"><h1>Order</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/AgyneKA.png"> </div>
          <a routerLink="statistic"><h1>Stats</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/vdH9LKi.png"> </div>
          <a href="administrator/category"><h1>Category & Under-Category</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/v6OnUqu.png"> </div>
          <a routerLink="cagnotte"><h1>Cagnotte</h1></a>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box">
        <div class="our-services database">
          <div class="icon"> <img src="https://i.imgur.com/VzjZw9M.png"> </div>
          <a routerLink="stock"><h1>Stock</h1></a>

        </div>
      </div>
    </div>
  </div>
</div>


