<div style="margin-top: 150px;margin-bottom: 150px; margin-left: 600px;">
<h3>Update cagnotte</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">montant</label>
      <input type="text" class="form-control" id="amount" required [(ngModel)]="cagnotte.amount" name="amount">
    </div>

    <div class="form-group">
      <label for="name">nom de cagnotte </label>
      <input type="text" class="form-control" id="nameCagnotte" required [(ngModel)]="cagnotte.nameCagnotte" name="nameCagnotte">
    </div>



    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</div>
